### Exercises: Level 1

In [5]:
# 1 -3

vehicles = []

cars = ['honda', 'toyota', 'peugeot', 'mercedes', 'beetle', 'benz', 'ford']

len(cars)

In [7]:
# 4

cars = ['honda', 'toyota', 'peugeot', 'mercedes', 'beetle', 'benz', 'ford']

first_item = cars[0]
middle_item = cars[len(cars) // 2]  # Using integer division to find the middle
last_item = cars[-1]

print(f"First item: {first_item}")
print(f"Middle item: {middle_item}")
print(f"Last item: {last_item}")

First item: honda
Middle item: mercedes
Last item: ford

In [ ]:
# 5

mixed_data_types = ['faiz', '35', '7', 'married', 'gwallameji']

In [78]:
# 6 - 15

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

print(it_companies)

no_of_companies = len(it_companies)
print(no_of_companies)

first_company = it_companies[0]
middle_company = it_companies[len(cars) // 2]  # Using integer division to find the middle
last_company = it_companies[-1]

print(f"First_company: {first_item}")
print(f"Middle_company: {middle_item}")
print(f"Last_company: {last_item}")

it_companies[0] = 'Twitter'
print(it_companies)

it_companies.append('Facebook')

it_companies.insert(4, 'Avive')
print(it_companies)

it_companies[2] = it_companies[2].upper()
print("updated list:", it_companies)

joined_list = '#; '.join(it_companies)
print(joined_list)

if "Google" in it_companies:
    print("Yes, 'Google' exists in the it_companies list.")
else:
    print("No, 'Google' does not exist in the list.")

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
First_company: honda
Middle_company: mercedes
Last_company: ford
['Twitter', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Twitter', 'Google', 'Microsoft', 'Apple', 'Avive', 'IBM', 'Oracle', 'Amazon', 'Facebook']
updated list: ['Twitter', 'Google', 'MICROSOFT', 'Apple', 'Avive', 'IBM', 'Oracle', 'Amazon', 'Facebook']
Twitter#; Google#; MICROSOFT#; Apple#; Avive#; IBM#; Oracle#; Amazon#; Facebook
Yes, 'Google' exists in the it_companies list.

In [77]:
# 16 - 20

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()
print("Sorted list: ", it_companies)

it_companies.sort(reverse=True)
print(it_companies)

first_three_items = it_companies[:3]
print(first_three_items)

last_three_items = it_companies[-3:]
print(last_three_items)

middle_it_company = len(it_companies) // 2
print(middle_it_company)

Sorted list:  ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'Microsoft', 'IBM']
['Facebook', 'Apple', 'Amazon']
3

In [81]:
# 21

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop(0)
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [92]:
# 22

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

middle_company = len(it_companies) // 2
it_companies.pop(middle_company)
print(it_companies)

it_companies.pop(-1)
print(it_companies)

it_companies.clear()
print(it_companies)

del it_companies

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle']
[]

In [97]:
# 26

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end.extend(back_end)

None

### Exercises: Level 2

In [108]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
print(ages)

min_value = min(ages)
max_value = max(ages)
print(min_value, max_value)

median_value = statistics.median(ages)
print("Median Value:" median_value)

average_value = sum(ages)/len(ages)
print(average_value)

range_value = max_value - min_value
print(range_value)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19 26
22.8
7